logs
installed-wordpress
sukrupa_wordpress.backupdump*sql
nbproject
conf/apache-sukrupa-dev.conf
local-apache-sukrupa-dev.conf
.DS_Store
lib/local_sukrupa_wordpress.dump.sql
lib/sukrupa_wordpress.dump.from-*-env.sql*
sukrupa-theme/content/
*.iws
*~
*.swp
xampp-macosx-1.7.3.dmg
xampp-linux-1.7.4.tar.gz
