
<VirtualHost *:80>
    DocumentRoot "##sukrupa-website-path##/installed-wordpress"
    ServerName sukrupa.localhost
    
    <Location />
        Order Deny,Allow
                            
        # Must have mod_substitute installed so website content served from the twu-staging server
        # is rewritten to use the local css, etc assets.
        # UNCOMMENT FOR LOCAL DEVELOPMENT!
        AddOutputFilterByType SUBSTITUTE text/html
        Substitute s/twu-staging/sukrupa.localhost/ni
    </Location>

    ErrorLog "##sukrupa-website-path##/logs/access_log"
    CustomLog "##sukrupa-website-path##/logs/error_log" common

    <Directory ##sukrupa-website-path##/*> 
        AllowOverride All
        Options +FollowSymLinks
    </Directory>

</VirtualHost>
